@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,166,188,1) 0%, rgba(18,199,237,1) 0%, rgba(0,130,255,1) 100%) !important;
}
.inner-body{
    height: 90vh;
    width: 96vw;
    background-color: white;
    margin-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.top{
   margin: 100px;
}
.fixed-sidebar{
    height: 89.2vh;
    position: fixed;
    border-radius: 0px;
    top: 5vh;
    width: 200px;
    left: 2vw;
    background-color: #2778e8;
    color: white;
    transition: 0.2s ease-in;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.profile-photo{
    height: 200px;
}
.list-items{
    margin-top: 30px;
    font-size: 12px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom:10px ;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    box-sizing: border-box !important;
    border: 0.4px solid white !important;
    border-radius: 20px;
}
.list-items:hover{
    background-color: white;
    color: #2778e8;
    transition: 0.2s ease-in;
}
.navbar{
    position: fixed !important;
    background-color: white !important;
    width: 96vw !important;
}
.hamburger{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,166,188,1) 0%, rgba(18,199,237,1) 0%, rgba(0,130,255,1) 100%) !important;
}
