@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
.parent-start-page{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
}
*{
    font-family: 'Poppins', sans-serif !important;
}
.all-icons{
    position: relative;
    top: -5%;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
.every-other-stuff{
    padding:20px 20px 40px;
    height: 100%;
}
.modal{
    height: 100vh !important;
}
.all-icons:hover{
transform: scale3d(1.5);
}
.register{
    margin-top: 10%;
    border:1px solid #2778e8 !important ;
    height: 25px;
    text-align: center;
    color: #2778e8  !important;
}
.register:hover{
    color: white !important;
    background-color: #2778e8 !important;
}
.follow{
    font-weight: 400;
    color: white;
}
.developer-words{
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.heading{
    color: white;
}
.child{
    margin-top: 15%;;
    margin-bottom: 15%;
}
body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,166,188,1) 0%, rgba(18,199,237,1) 0%, rgba(0,130,255,1) 100%) !important;
}
.log-reg-view{
    z-index: 9999999;
}
.heading{
    font-weight: 600;
    font-size: 50px;
}
.about-developer{
    min-height: 80vh;
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    text-align: left;
    padding-right: 0px;
    width: 90vw;
    font-size:16px; 
    border-radius: 20px;   
    background:#2778e8;
}

.custom-button{
    text-align: center;
    box-sizing: border-box;
    border: 1px solid white;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s ease;
    color: white;
}
.custom-button:hover{
    background-color: white;
    cursor: pointer;
    color:#2778e8 ;
}
.contribute{
    margin-top: 5%;
    border: 1px solid white;
    padding:10px;
    border-radius: 20px;
    background-color: white;
    color:#2778e8 ;
}
.button-grid{
    display: flex;
    flex-direction: row;
}
.login-view{
    width: 25vw;
    height: 50px;
    margin-right: 5%;
}

@media only screen and (min-width: 700px){
    .about-developer{
        width: 60vw;
        min-height: 50vh;
        margin-bottom: 0% !important;
        margin-top: 0% !important;
    }
    .heading{
        font-size: 80px;
    }
    .child{
        margin-top: 5%;;
        margin-bottom: 0%;
    }
    .login-view{
        width: 20vw;
        height: 50px;
    }
}